<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeerOrCoffee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10AF4CB61F176BEA00F4A109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10AF4CCA1F176BEA00F4A109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10AF4CD51F176BEA00F4A109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
