<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966432113231-3k9pe8gi4lnon6n2lk79jh4qj967g1r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966432113231-3k9pe8gi4lnon6n2lk79jh4qj967g1r3</string>
	<key>API_KEY</key>
	<string>AIzaSyBtRCigToCiihKRzHkdG_C_iAOssI6X7OE</string>
	<key>GCM_SENDER_ID</key>
	<string>966432113231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petruccio.BeerOrCoffee</string>
	<key>PROJECT_ID</key>
	<string>beerorcoffee-eacaa</string>
	<key>STORAGE_BUCKET</key>
	<string>beerorcoffee-eacaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:966432113231:ios:99e20a5011c1dfb0</string>
	<key>DATABASE_URL</key>
	<string>https://beerorcoffee-eacaa.firebaseio.com</string>
</dict>
</plist>